<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About MyApp</h2>
  <p>
    A simple web-app made by using emberJS which allows normal people to write about the day-to-day happenings that occur around their locality/community and post it as a legitimate news on this website.
  </p>
  {{#link-to 'about.vision'}}
    Vision of this app...
  {{/link-to}}
</div>


