<div class="jumbo">
  <h2>Vision</h2>
  <p>
    The primary objective of this website is to keep people upto date through the news that are posted by general people.
    Through this website people will be aware of whats happening around them,in other words people will get news on a smaller scale and in a filtered manner.These news will concern general people as the news are posted by general people as well.It won't concern global happening as posted by other online news site.
   </p>
   <p>
    Hope people posting on this site won't misuse their power to post pranks and irrelavant news.Thank you!
   </p>

  {{#link-to 'about'}}
   <button class="back">&#xab;Back</button>
  {{/link-to}}
</div>
