{{!-- <div class="jumbo">
  <div class="right tomster"></div>
  <h2>About MyApp</h2>
  <p>
    A simple app made by using emberJS
  </p>
  {{#link-to 'about.vision'}}
    Vision of this app...
  {{/link-to}}
</div> --}}

{{outlet}}

